h2,
h3,
h4,
p,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3,
h4,
p {
  margin: 10px 0px;
}

body {
  margin: 0px;
}

.page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-rows: 75px 250px 1fr;
  gap: 50px;
  background-color: rgb(14, 65, 168);
  padding: 10px 40px;
}

.sidebar .icon-beside-text {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  justify-items: start;
}

.sidebar .icon-beside-text * {
  color: white;
  font-size: 18px;
}

.sidebar .logo.icon-beside-text * {
  font-size: 32px;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 40px;
  align-items: center;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
}

.header .searchbar {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .searchbar * {
  font-size: 18px;
}

.header .searchbar #search-input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(14, 65, 168, 0.1);
  flex-grow: 1;
}

.header .account {
  grid-area: 1 / 2 / 2 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header .account * {
  font-size: 18px;
}

.header .account img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header .greetings {
  grid-area: 2 / 1 / -1 / 2;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  column-gap: 20px;
}

.header .greetings img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  grid-area: 1 / 1 / -1 / 2;
}

.header .action-buttons-container {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header .action-buttons-container button {
  background-color: rgb(14, 65, 168);
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.content-area {
  grid-area: 2 / 2 / -1 / -1;
  background-color: rgba(7, 46, 124, 0.1);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  padding: 20px;
}

.content-area .your-projects {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px repeat(3, 1fr);
  gap: 20px;
}

.content-area .your-projects h3 {
  grid-row: span 1;
  grid-column: span 2;
  align-self: self-end;
}

.content-area .your-projects .project-card {
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(151, 151, 151, 0.4);
  background: linear-gradient(
    to right,
    rgb(252, 213, 53) 0% 3%,
    rgb(255, 255, 255) 3% 100%
  );
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto 40px;
}

.content-area .your-projects .project-card p {
  color: rgb(116, 116, 116);
}

.content-area .your-projects .project-card .project-icons {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: rgb(53, 50, 50);
}

.content-area .side-info {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-rows: 50px 1fr 50px 1fr;
}

.content-area .side-info .side-card {
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(151, 151, 151, 0.4);
  background-color: white;
  padding: 20px;
}

.content-area .side-info h3 {
  align-self: self-end;
}

.content-area .announcements {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
}

.content-area .announcements p {
  color: rgb(116, 116, 116);
}

.content-area .announcements div:not(:last-child) {
  border-bottom: 1px solid rgba(119, 119, 119, 0.4);
}

.content-area .trending {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
}

.content-area .trending-account {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  column-gap: 20px;
  row-gap: 5px;
}

.content-area .trending-account h4 {
  align-self: self-end;
  margin: 0px;
}

.content-area .trending p {
  align-self: self-start;
  margin: 0px;
}

.content-area .trending-account img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  grid-area: 1 / 1 / -1 / 2;
  justify-self: end;
}
